$TTL 86400
@   IN  SOA     {{ DNS_SERVER_INFO.name }}.{{ DOMAIN_NAME }}. root.{{ DOMAIN_NAME }} (
        ;; any numerical values are OK for serial number but
        ;; large recommendation is [YYYYMMDDnn] (update date + number)
        2023072301  ;Serial
        3600        ;Refresh
        1800        ;Retry
        604800      ;Expire
        86400       ;Minimum TTL
)

; Name server information
@      IN       NS      {{ DNS_SERVER_INFO.name }}.{{ DOMAIN_NAME }}.

; Ip address of nameserver
{{ DNS_SERVER_INFO.name }}    IN      A        {{ DNS_SERVER_INFO.ip }}

{% for server in SERVERS_TO_REGISTER %}
{{ server.name }}   IN       A       {{ server.ip }}
{% endfor %}