zone "{{ DOMAIN_NAME }}." IN {
	type master;
	file "forward.zone";
    allow-update { none; };
};


zone "{{ REVERSE_NETWORK_ADDRESS }}.in-addr.arpa" IN {
    type master;
    file "reverse.zone";
    allow-update { none; };
};